*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 2em;
    background-color: aqua;
}

.bar {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 10px;
    justify-content: center;
}

.name {
    text-align: center;
    align-items: center;
    display: grid;
    font-size: 2em;
    text-decoration: underline;
}

.btn_container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.start {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 0.7em;
    border: none;
    border-radius: 10px;

}

.start:hover {
    background-color: white;
    color: black;
}

.container {
    position: relative;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 30% auto;
    background-color: rgb(78, 78, 78);
    width: 80%;
    height: 70%;
    align-items: center;
    gap: 10px;
}

.goal {
    height: 50%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 10px;

}

.board {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.node {
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

.player_1_1 {
    border-top: 5px dotted red;
    border-left: 5px dotted red;

}

.player_1_2 {
    border-right: 5px dotted red;
    border-top: 5px dotted red;
}

.player_1_3 {
    border-left: 5px dotted red;
    border-bottom: 5px dotted red;
}

.player_1_4 {
    border-right: 5px dotted red;
    border-bottom: 5px dotted red;
}

.player_2_1 {
    border-top: 5px dotted green;
    border-left: 5px dotted green;
}

.player_2_2 {
    border-right: 5px dotted green;
    border-top: 5px dotted green;
}

.player_2_3 {
    border-left: 5px dotted green;
    border-bottom: 5px dotted green;
}

.player_2_4 {
    border-right: 5px dotted green;
    border-bottom: 5px dotted green;
}

.hide {
    display: none;
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    font-size: 3em;
}